/* Login and Registration Buttons */
.wrapper {
   float:right;
   position: absolute;
   top: 10px;
   right: 0px;
   margin-right:0px;
}
/* Background Design */
body {
  font-family: Arial, Verdana, sans-serif;
  background-image: url("/static/main_page_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Marquee (Moving Text)*/
marquee {
    color: white;
    background-color: transparent;
}

/* Table Design */
table {
    margin: auto;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: black 5px;

}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: transparent;
}
table tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

th  {
    background-color: transparent;
}
/* Rounded corners - table */
th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

/* Navigation Bar Positioning */
.navbar-brand-center {
  margin-left: auto;
  margin-right: auto;
}
