
.wrapper {
   float:right;
   position: absolute;
   top: 1px;
   right: 0px;
   margin-right:0px;
}
body {
  font-family: Arial, Verdana, sans-serif;
  background-image: url("/static/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}

marquee {
    color: orangered;
    background-color: black;
    justify-content: space-between;
}

table {
    margin: auto;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: black 5px;

}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

th  {
    background-color: slateblue;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.navbar-brand-center {
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
    position: relative;
    top: 15px;
    right: 3px;
}

a {
    color: black;
}

.box{
  width: 100%;
  text-align:center;
}