/* Background Design */
body {
  background-image: url("/static/main_page_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Table Design */
table {
    margin: auto;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 1400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: black 5px;

}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 1.2em;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(8) {
    border-bottom: black;
}

table tbody tr:nth-of-type(even) {
    color: white;
    background: black;
}

table tbody tr:nth-of-type(odd) {
    color: white;
    background: black;
}

table tbody tr:nth-of-type(8) {
    color: white;
    background: black;
    row-span: 2;
    align-content: center;
    }

table tr:last-child{
    background:black;
}

form{
    margin: auto;
    min-width: 1400px;

}
/* Navbar Layout */

.navbar-brand-center {
  margin-left: auto;
  margin-right: auto;
}
