<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOW</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_STOCKS.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<header>
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env>
    - matplotlib
    </py-env>
</header>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand-center" style="font-size: 40px;">Dow</a>
</nav>
<br>
{% block content %}
    <table class="table table-striped table-hover">
    <tr>
    <td>Stock Price: {{ "{:0,.2f}".format(data_indicators_DOW[15])}}</td>
    <td>Official Name: {{data_indicators_DOW[4]}}</td>
    </tr>
    <tr>
    <td>52 Week High: {{ "{:0,.2f}".format(data_indicators_DOW[5])}}</td>
    <td>Market Capitalization: {{ "{:0,d}".format(data_indicators_DOW[12])}}</td>
    </tr>
    <tr>
    <td>52 Week Low: {{ "{:0,.2f}".format(data_indicators_DOW[6])}}</td>
    <td>Year Incorporated: {{data_indicators_DOW[14]}}</td>
    </tr>
    <tr>
    <td>Beta: {{data_indicators_DOW[1]}}</td>
    <td>Headquarters: {{data_indicators_DOW[11]}}</td>
    </tr>
    <tr>
    <td>Average Volume: {{ "{:0,d}".format(data_indicators_DOW[8])}}</td>
    <td>Industry: {{data_indicators_DOW[10]}}</td>
    </tr>
    <tr>
    <td>Shares Outstanding: {{ "{:0,d}".format(data_indicators_DOW[9])}}</td>
    <td>Primary Exchange: {{data_indicators_DOW[3]}}</td>
    </tr>
    <tr>
    <td>1 Year Price Target: {{ "{:0,.2f}".format(data_indicators_DOW[13])}}</td>
    <td>Employees: {{ "{:0,d}".format(data_indicators_DOW[2])}}</td>
    </tr>
    </table>

{% endblock content %}
</body>
</html>