<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style type="text/css">
      body{
      background-image: url("/static/login_page_picture.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      }
      .login-form{
      border-radius: 23px;
      background-color: #fff;
      padding: 30px;

      }
      h3{
      color: white;
      text-align: center;
      margin-top: 240px;
      }
      h1{
          color: white;
      }
      h2{
          color: white;
      }
    </style>
  </head>
  <body>
       <div class="container">
         <div class="center-block">
             <h3 >Secure Login Page</h3>
        </div>
     </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <form class="login-form" method="POST" action="">
            <div class="mb-3">
                 {{ form.hidden_tag() }}
             </div>
             <div class="mb-3">
              {{form.username(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.password(class="form-control") }}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn-primary")}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>