 <!-- The login page uses the Bootstrap Database for style. Then the CSS File is imported.
 The login page uses the forms which are built with Flask Login-->
<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles_Login.css') }}">
  </head>
  <body>
  <!--Login Box-->
       <div class="container">
         <div class="center-block">
             <h3 >Secure Login Page</h3>
        </div>
     </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
           <!--Text fields for Login-->
          <form class="login-form" method="POST" action="">
            <div class="mb-3">
                 {{ form.hidden_tag() }}
              {{form.username(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.password(class="form-control") }}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn-primary")}}
            </div>
              <hr>
            <div class="text-center">
            <a style="text-decoration: none;" href="{{ url_for('register') }}">Sign up for Cross Border Finance</a>
                <br>
            <a style="text-decoration: none;" href="{{ url_for("hello_world")}}">Back to the Home Page?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    </form>
        </div>
    </div>
    </div>
  </body>
</html>