<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dow Jones 30</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<header>
</header>

<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand-center" style="font-size: 40px;">Cross Border Finance</a>
<div class="wrapper">
    {% if current_user.is_authenticated %}
    <button onclick=location.href="{{ url_for('logout') }}" type="button", class="btn btn-primary">Logout</button>
{% else %}
    <button onclick=location.href="{{ url_for('login') }}" type="button", class="btn btn-primary">Login</button>
{% endif %}
    <button onclick=location.href="{{ url_for('register') }}" type="button", class="btn btn-primary">Sign-up</button>
    </div>
</nav>
    <div></div>
    <marquee behavior="scroll" width="100%" direction="left" height="20px" scrollamount="5">
        AXP | AMGN | AAPL | BA | CAT | CSCO | CVS | GS | HD | HON | IBM | INTC | JNJ | KO | JPM | MCD | MMM | MRK | MSFT | NIKE | PG | TRV | UNH | CRM | VZ | V | WBA | WMT | DIS | DOW
    </marquee>
    </marquee>
    <br>
    <text>The Dow Jones Industrial Average, Dow Jones, or simply the Dow, is a stock market index of 30 prominent companies listed on stock exchanges in the United States. The DJIA is one of the oldest and most commonly followed equity indices</text>
    <br>
    <br>

    <meta charset="UTF-8">
<h2>Dow Jones 30 Companies</h2>
<text>This table below shows the constituents of the Dow Jones 30</text>
{% block main %}
{% include 'Table for main.html' %}
{% endblock %}
<script>
    console.log("Please register for premium content");
</script>
<br>
<!--    <img src="{{url_for('static', filename='Dow Jones 30.jpg')}}" width="1280" height="720"> -->

</body>

</html>