<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dow Jones 30</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<header>
</header>

<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand-center" style="font-size: 40px;">Cross Border Finance</a>
<div class="wrapper">
    {% if current_user.is_authenticated %}
    <button onclick=location.href="{{ url_for('logout') }}" type="button", class="btn btn-primary">Logout</button>
{% else %}
    <button onclick=location.href="{{ url_for('login') }}" type="button", class="btn btn-primary">Login</button>
{% endif %}
    <button onclick=location.href="{{ url_for('register') }}" type="button", class="btn btn-primary">Sign-up</button>
    </div>
</nav>
    <br>
    <div></div>
    <marquee behavior="scroll" width="100%" direction="left" height="30px" scrollamount="10">
        AXP | AMGN | AAPL | BA | CAT | CSCO | CVS | KO | DOW | GS | HD | HON | IBM | INTC | JNJ | KO | JPM | MCD | MMM | MRK | MSFT | NIKE | PG | TRV | UNH | CRM | VZ | V | WBA | WMT | DIS
    </marquee>
    </marquee>
    <br>
    <h2>Dow Jones Industrial Average</h2>
<center> <text>Trading Hours: Open: 9.30 AM EST | Close: 16.00 PM EST </text></center>
    <h3>Overview</h3>
    <text>The Dow Jones Industrial Average, Dow Jones, or simply the Dow, is a stock market index of 30 prominent companies listed on stock exchanges in the United States. The DJIA is one of the oldest and most commonly followed equity indices.
    The Dow Jones is price-weighted, unlike stock indices which use market capitalization like the S&P 500 or the DAX.</text>
    <br>
    <br>
    <h3>Calculation</h3>
    <text>In order to calculate the Dow Jones, the sum of all 30 stocks is divided by a divisor, the so called Dow Divisor. The
    divisor is adjusted in case of stock splits, spinoffs or similar structural changes, to ensure that such events do not in
    themselves alter the numerical value of the DJIA. Since November 4, 2021 the Dow Divisor is 0.151727525995384, which is
    means that for every $1 change in price in a stock the Dow Jones moves 6.590761918 points.</text>
    <br>
    <meta charset="UTF-8">
<h2>Dow Jones Industrial Average Components</h2>
<text>This table below shows the constituents of the Dow Jones 30. In order to access the indicators and our unique value model. Please Login or Sign-Up today.</text>
{% block main %}
    <br>
{% include 'Table for main.html' %}
{% endblock %}
</body>
</html>