<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Registration_Form.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sign up for Cross Border Finance</title>
</head>

<body>
    <h1>Create a new account</h1>
    <h2>It is simple and free</h2>
    <br>
    <form method="POST" action="">
        <div class=login-box, align="center">
        {{ form.hidden_tag() }}
        {{ form.first_name(class="form-control") }}
            <br>
        {{ form.last_name(class="form-control") }}
            <br>
        {{form.username(class="form-control") }}
            <br>
        {{ form.email(class="form-control") }}
            <br>
        {{ form.password(class="form-control") }}
            <br>
        {{ form.submit(class="btn-primary") }}
            <br>
        </div>
    </form>
    <br>
    <div style="text-align: center">
      <a href="{{ url_for('login') }}">Already have an account?</a>
      <br>
        <a href="{{ url_for("hello_world")}}">Back to the Home Page?</a>
    </div>
</body>

</html>