<!DOCTYPE html>
<html lang="en">
{% block main %}
<table>
    <tr>
        <th>Company</th>
        <th>Ticker</th>
        <th>Exchange</th>
        <th>Sector</th>
        <th>Market Capitalization</th>
    </tr>
    <tr>
        <td>3M Company</td>
        <td><a href={{url_for("MMM")}}>MMM</a></td>
        <td>NYSE</td>
        <td>Consumer Goods Conglomerates</td>
        <td>70.707</td>
    </tr>
     <tr>
        <td>American Express</td>
        <td><a href={{url_for("AXP")}}>AXP</a></td>
        <td>NYSE</td>
        <td>General Industrials</td>
        <td>117.943</td>
    </tr>
    <tr>
        <td>Amgen</td>
        <td><a href={{url_for("AMGN")}}>AMGN</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>144.354</td>
    </tr>
    <tr>
        <td>Apple</td>
        <td><a href={{url_for("AAPL")}}>AAPL</a></td>
        <td>NYSE</td>
        <td>Computers, Phones and Electronics</td>
        <td>2,313.225</td>
    </tr>
    <tr>
        <td>Boeing</td>
        <td><a href={{url_for("BA")}}>BA</a></td>
        <td>NYSE</td>
        <td>Aerospace and Defense</td>
        <td>112.540</td>
    </tr>
    <tr>
        <td>Caterpillar</td>
        <td><a href={{url_for("CAT")}}>CAT</a></td>
        <td>NYSE</td>
        <td>Machinery, Equipment and Components</td>
        <td>123.722</td>
    </tr>
    <tr>
        <td>Chevron</td>
        <td><a href={{url_for("CVX")}}>CVX</a></td>
        <td>NYSE</td>
        <td>Oil and Gas</td>
        <td>336.279</td>
    </tr>
    <tr>
        <td>Cisco</td>
        <td><a href={{url_for("CSCO")}}>CSCO</a></td>
        <td>NASDAQ</td>
        <td>Communications and Networking</td>
        <td>204.666</td>
    </tr>
    <tr>
        <td>Coca-Cola</td>
        <td><a href={{url_for("KO")}}>KO</a></td>
        <td>NYSE</td>
        <td>Beverages</td>
        <td>278.326</td>
    </tr>
    <tr>
        <td>Dow Inc.</td>
        <td><a href={{url_for("DOW")}}>DOW</a></td>
        <td>NYSE</td>
        <td>Chemicals</td>
        <td>36.504</td>
    </tr>
    <tr>
        <td>Goldman Sachs</td>
        <td><a href={{url_for("GS")}}>GS</a></td>
        <td>NYSE</td>
        <td>Investment Banking and Investment Services</td>
        <td>124.580</td>
    </tr>
    <tr>
        <td>Home Depot</td>
        <td><a href={{url_for("HD")}}>HD</a></td>
        <td>NYSE</td>
        <td>Specialty Retailers</td>
        <td>343.422</td>
    </tr>
    <tr>
        <td>Honeywell</td>
        <td><a href={{url_for("HON")}}>HON</a></td>
        <td>NASDAQ</td>
        <td>Consumer Goods Conglomerates</td>
        <td>145.941</td>
    </tr>
    <tr>
        <td>Intel</td>
        <td><a href={{url_for("INTC")}}>INTC</a></td>
        <td>NASDAQ</td>
        <td>Semiconductors and Semiconductor Equipment</td>
        <td>118.940</td>
    </tr>
    <tr>
        <td>IBM</td>
        <td><a href={{url_for("IBM")}}>IBM</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>136.708</td>
    </tr>
    <tr>
        <td>Johnson and Johnson</td>
        <td><a href={{url_for("JNJ")}}>JNJ</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>472.228</td>
    </tr>
        <tr>
        <td>JP Morgan Chase</td>
        <td><a href={{url_for("JPM")}}>JPM</a></td>
        <td>NYSE</td>
        <td>Banking Services</td>
        <td>396.540</td>
    </tr>
    <tr>
        <td>MC Donald's</td>
        <td><a href={{url_for("MCD")}}>MCD</a></td>
        <td>NYSE</td>
        <td>Restaurants</td>
        <td>202.310</td>
    </tr>
    <tr>
        <td>Merck</td>
        <td><a href={{url_for("MRK")}}>MRK</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>281.201</td>
    </tr>
    <tr>
        <td>Microsoft</td>
        <td><a href={{url_for("MSFT")}}>MSFT</a></td>
        <td>NASDAQ</td>
        <td>Software and IT Services</td>
        <td>1944.723</td>
    </tr>
    <tr>
        <td>Nike</td>
        <td><a href={{url_for("NKE")}}>NKE</a></td>
        <td>NYSE</td>
        <td>Textiles and Apparel</td>
        <td>177.002</td>
    </tr>
    <tr>
        <td>Procter and Gamble</td>
        <td><a href={{url_for("PG")}}>PG</a></td>
        <td>NYSE</td>
        <td>Personal and Household Products</td>
        <td>362.991</td>
    </tr>
    <tr>
        <td>Salesforce</td>
        <td><a href={{url_for("CRM")}}>CRM</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>136.080</td>
    </tr>
    <tr>
        <td>Travelers</td>
        <td><a href={{url_for("TRV")}}>TRV</a></td>
        <td>NYSE</td>
        <td>Insurance</td>
        <td>44.261</td>
    </tr>
    <tr>
        <td>United Health</td>
        <td><a href={{url_for("UNH")}}>UNH</a></td>
        <td>NYSE</td>
        <td>Healthcare Provider and Services</td>
        <td>507.334</td>
    </tr>
    <tr>
        <td>Verizon</td>
        <td><a href={{url_for("VZ")}}>VZ</a></td>
        <td>NYSE</td>
        <td>Telecommunications Services</td>
        <td>158.155</td>
    </tr>
    <tr>
        <td>Visa</td>
        <td><a href={{url_for("V")}}>V</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>406.129</td>
    </tr>
    <tr>
        <td>Walgreens</td>
        <td><a href={{url_for("WBA")}}>WBA</a></td>
        <td>NASDAQ</td>
        <td>Food and Drug Retailing</td>
        <td>35.407</td>
    </tr>
    <tr>
        <td>Walmart</td>
        <td><a href={{url_for("WMT")}}>WMT</a></td>
        <td>NYSE</td>
        <td>Food and Drug Retailing</td>
        <td>399.153</td>
    </tr>
    <tr>
        <td>Disney</td>
        <td><a href={{url_for("DIS")}}>DIS</a></td>
        <td>NYSE</td>
        <td>Media and Publishing</td>
        <td>172.877</td>
    </tr>





</table>
{% endblock %}
