<!DOCTYPE html>
<html lang="en">
{% block main %}
<table style="margin-left: auto; color: white; margin-right: auto;">
    <tr>
        <th>Company</th>
        <th>Ticker</th>
        <th>Exchange</th>
        <th>Sector</th>
        <th>Index Weighting</th>
    </tr>
    <tr>
        <td>3M</td>
        <td><a href={{url_for("MMM")}}>MMM</a></td>
        <td>NYSE</td>
        <td>Consumer Goods Conglomerates</td>
        <td>2.41%</td>
    </tr>
     <tr>
        <td>American Express</td>
        <td><a href={{url_for("AXP")}}>AXP</a></td>
        <td>NYSE</td>
        <td>General Industrials</td>
        <td>3.02%</td>
    </tr>
    <tr>
        <td>Amgen</td>
        <td><a href={{url_for("AMGN")}}>AMGN</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>5.48%</td>
    </tr>
    <tr>
        <td>Apple</td>
        <td><a href={{url_for("AAPL")}}>AAPL</a></td>
        <td>NASDAQ</td>
        <td>Computers, Phones and Electronics</td>
        <td>2.84%</td>
    </tr>
    <tr>
        <td>Boeing</td>
        <td><a href={{url_for("BA")}}>BA</a></td>
        <td>NYSE</td>
        <td>Aerospace and Defense</td>
        <td>3.36%</td>
    </tr>
    <tr>
        <td>Caterpillar</td>
        <td><a href={{url_for("CAT")}}>CAT</a></td>
        <td>NYSE</td>
        <td>Machinery, Equipment and Components</td>
        <td>4.52%</td>
    </tr>
    <tr>
        <td>Chevron</td>
        <td><a href={{url_for("CVX")}}>CVX</a></td>
        <td>NYSE</td>
        <td>Oil and Gas</td>
        <td>3.50%</td>
    </tr>
    <tr>
        <td>Cisco</td>
        <td><a href={{url_for("CSCO")}}>CSCO</a></td>
        <td>NASDAQ</td>
        <td>Communications and Networking</td>
        <td>0.96%</td>
    </tr>
    <tr>
        <td>Coca-Cola</td>
        <td><a href={{url_for("KO")}}>KO</a></td>
        <td>NYSE</td>
        <td>Beverages</td>
        <td>1.22%</td>
    </tr>
    <tr>
        <td>Dow</td>
        <td><a href={{url_for("DOW")}}>DOW</a></td>
        <td>NYSE</td>
        <td>Chemicals</td>
        <td>0.98%</td>
    </tr>
    <tr>
        <td>Goldman Sachs</td>
        <td><a href={{url_for("GS")}}>GS</a></td>
        <td>NYSE</td>
        <td>Investment Banking and Investment Services</td>
        <td>7.36%</td>
    </tr>
    <tr>
        <td>Home Depot</td>
        <td><a href={{url_for("HD")}}>HD</a></td>
        <td>NYSE</td>
        <td>Specialty Retailers</td>
        <td>6.27%</td>
    </tr>
    <tr>
        <td>Honeywell</td>
        <td><a href={{url_for("HON")}}>HON</a></td>
        <td>NASDAQ</td>
        <td>Consumer Goods Conglomerates</td>
        <td>4.71%</td>
    </tr>
    <tr>
        <td>Intel</td>
        <td><a href={{url_for("INTC")}}>INTC</a></td>
        <td>NASDAQ</td>
        <td>Semiconductors and Semiconductor Equipment</td>
        <td>0.57%</td>
    </tr>
    <tr>
        <td>IBM</td>
        <td><a href={{url_for("IBM")}}>IBM</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>2.86%</td>
    </tr>
    <tr>
        <td>Johnson and Johnson</td>
        <td><a href={{url_for("JNJ")}}>JNJ</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>3.43%</td>
    </tr>
        <tr>
        <td>JPMorgan Chase</td>
        <td><a href={{url_for("JPM")}}>JPM</a></td>
        <td>NYSE</td>
        <td>Banking Services</td>
        <td>2.61%</td>
    </tr>
    <tr>
        <td>McDonald's</td>
        <td><a href={{url_for("MCD")}}>MCD</a></td>
        <td>NYSE</td>
        <td>Restaurants, Real Estate</td>
        <td>5.24%</td>
    </tr>
    <tr>
        <td>Merck</td>
        <td><a href={{url_for("MRK")}}>MRK</a></td>
        <td>NYSE</td>
        <td>Pharmaceuticals</td>
        <td>2.10%</td>
    </tr>
    <tr>
        <td>Microsoft</td>
        <td><a href={{url_for("MSFT")}}>MSFT</a></td>
        <td>NASDAQ</td>
        <td>Software and IT Services</td>
        <td>4.88%</td>
    </tr>
    <tr>
        <td>Nike</td>
        <td><a href={{url_for("NKE")}}>NKE</a></td>
        <td>NYSE</td>
        <td>Textiles and Apparel</td>
        <td>2.13%</td>
    </tr>
    <tr>
        <td>Procter and Gamble</td>
        <td><a href={{url_for("PG")}}>PG</a></td>
        <td>NYSE</td>
        <td>Personal and Household Products</td>
        <td>2.86%</td>
    </tr>
    <tr>
        <td>Salesforce</td>
        <td><a href={{url_for("CRM")}}>CRM</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>2.82%</td>
    </tr>
    <tr>
        <td>Travelers</td>
        <td><a href={{url_for("TRV")}}>TRV</a></td>
        <td>NYSE</td>
        <td>Insurance</td>
        <td>3.62%</td>
    </tr>
    <tr>
        <td>United Health</td>
        <td><a href={{url_for("UNH")}}>UNH</a></td>
        <td>NYSE</td>
        <td>Healthcare Provider and Services</td>
        <td>10.29%</td>
    </tr>
    <tr>
        <td>Verizon</td>
        <td><a href={{url_for("VZ")}}>VZ</a></td>
        <td>NYSE</td>
        <td>Telecommunications Services</td>
        <td>0.73%</td>
    </tr>
    <tr>
        <td>Visa</td>
        <td><a href={{url_for("V")}}>V</a></td>
        <td>NYSE</td>
        <td>Software and IT Services</td>
        <td>4.16%</td>
    </tr>
    <tr>
        <td>Walgreens</td>
        <td><a href={{url_for("WBA")}}>WBA</a></td>
        <td>NASDAQ</td>
        <td>Food and Drug Retailing</td>
        <td>0.79%</td>
    </tr>
    <tr>
        <td>Walmart</td>
        <td><a href={{url_for("WMT")}}>WMT</a></td>
        <td>NYSE</td>
        <td>Food and Drug Retailing</td>
        <td>2.94%</td>
    </tr>
    <tr>
        <td>Disney</td>
        <td><a href={{url_for("DIS")}}>DIS</a></td>
        <td>NYSE</td>
        <td>Media and Publishing</td>
        <td>1.89%</td>
    </tr>





</table>
{% endblock %}
