<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walgreens Boots Alliance</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_STOCKS.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<header>
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env>
    - matplotlib
    - numpy
    - aquarel
    </py-env>
</header>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand-center" style="font-size: 40px;">Walgreens Boots Alliance</a>
</nav>
<br>
{% block content %}
    <table class="table table-striped table-hover">
    <tr>
    <td>Stock Price: {{ "{:0,.2f}".format(data_indicators_WBA[15])}}</td>
    <td>Official Name: {{data_indicators_WBA[4]}}</td>
    </tr>
    <tr>
    <td>52 Week High: {{ "{:0,.2f}".format(data_indicators_WBA[5])}}</td>
    <td>Market Capitalization: {{ "{:0,d}".format(data_indicators_WBA[12])}}</td>
    </tr>
    <tr>
    <td>52 Week Low: {{ "{:0,.2f}".format(data_indicators_WBA[6])}}</td>
    <td>Year Incorporated: {{data_indicators_WBA[14]}}</td>
    </tr>
    <tr>
    <td>Beta: {{data_indicators_WBA[1]}}</td>
    <td>Headquarters: {{data_indicators_WBA[11]}}</td>
    </tr>
    <tr>
    <td>Average Volume: {{ "{:0,d}".format(data_indicators_WBA[8])}}</td>
    <td>Industry: {{data_indicators_WBA[10]}}</td>
    </tr>
    <tr>
    <td>Shares Outstanding: {{ "{:0,d}".format(data_indicators_WBA[9])}}</td>
    <td>Primary Exchange: {{data_indicators_WBA[3]}}</td>
    </tr>
    <tr>
    <td>1 Year Price Target: {{ "{:0,.2f}".format(data_indicators_WBA[13])}}</td>
    <td>Employees: {{ "{:0,d}".format(data_indicators_WBA[2])}}</td>
    </tr>
    </table>

{% endblock content %}
<table class="table table-responsive">
    <td>
    <h1>CAPE</h1>
    <div id="matplotlib-lineplot" style="horiz-align: left;">
    <py-script output="matplotlib-lineplot">
        import matplotlib.pyplot as plt
        import numpy as np
        monate_strings = ["06/06", "12/08", "06/11", "12/13", "06/16", "12/18", "06/21"]
        monate_zahlen = [0, 10, 20, 30, 40, 50, 60]
        from aquarel import *
        with load_theme("arctic_dark"):
            fig1, ax1 = plt.subplots()
            df_company_CAPE = {{ data_CAPE_WBA }}
            np_array_CAPE = np.array(df_company_CAPE)
            plt.plot(df_company_CAPE)
            plt.xticks(monate_zahlen, monate_strings, rotation=25)
            plt.axhline(y=np_array_CAPE.mean(), color='salmon', linestyle='-')
            plt.axhline(y=np_array_CAPE.mean() + np_array_CAPE.std(ddof=1), color='g', linestyle='-')
            plt.axhline(y=np_array_CAPE.mean() - np_array_CAPE.std(ddof=1), color='g', linestyle='-')
            plt.axhline(y=np_array_CAPE.mean() + 2* np_array_CAPE.std(ddof=1), color='y', linestyle='-')
            plt.axhline(y=np_array_CAPE.mean() - 2* np_array_CAPE.std(ddof=1), color='y', linestyle='-')
            plt.ylabel("CAPE")
        fig1
    </py-script>
    </div>
    </td>
    <td>
    <h1>Excess CAPE</h1>
    <div id="matplotlib-lineplot1" style="horiz-align: right">
    <py-script output="matplotlib-lineplot1">
        import numpy as np
        import matplotlib.pyplot as plt
        from aquarel import *
        with load_theme("arctic_dark"):
            fig1, ax1 = plt.subplots()
            df_company = {{ data_EXC_WBA }}
            np_array_EXC = np.array(df_company)
            plt.plot(df_company)
            plt.xticks(monate_zahlen, monate_strings, rotation=25)
            plt.axhline(y=np_array_EXC.mean(), color='salmon', linestyle='-')
            plt.axhline(y=np_array_EXC.mean() + np_array_EXC.std(ddof=1), color='g', linestyle='-')
            plt.axhline(y=np_array_EXC.mean() - np_array_EXC.std(ddof=1), color='g', linestyle='-')
            plt.axhline(y=np_array_EXC.mean() + 2* np_array_EXC.std(ddof=1), color='y', linestyle='-')
            plt.axhline(y=np_array_EXC.mean() - 2* np_array_EXC.std(ddof=1), color='y', linestyle='-')
            plt.ylabel("Excess CAPE")
        fig1
    </py-script>
    </div>
    </td>
</table>
</body>
</html>